{% extends "base.html" %}
{% load djplayer_extras %}
{% load discography_extras %}
{% block link %}
	{{ block.super }}
	{% djwidget_link_css %}
{% endblock %}
{% block script %}
	{{ block.super }}
	{% djwidget_js_base %}
	{% djwidget_script_tunes media_tunes "media" %}
{% endblock %}

{% block nav-studio %}<strong class="nav-active">Studio</strong>{% endblock %}

{% block main %}
<h2>Releases</h2>
	{% list_releases %}
<h2>Media</h2>
<div id="media-tunes">
	{% if media_tunes %}
	{% for tune in media_tunes %}
		<div class="tune">
			<h3><a href="{{ tune.get_absolute_url }}">{{ tune.title }}</a></h3>
			{% djplayer_widget tune "media" %}
		</div>
	{% endfor %}
	{% endif %}
</div>
{% endblock %}
