{% extends "base.html" %}
{% load staticfiles  %}
{% load djplayer_extras %}
{% load discography_extras %}
{% block link %}
	{{ block.super }}
	{% djwidget_link_css %}
{% endblock %}
{% block script %}
	{{ block.super }}
	{% djwidget_js_base %}
	{% djwidget_js_playlist media_tunes "media" %}
{% endblock %}

{% block nav-studio %}<strong class="nav-active">Studio</strong>{% endblock %}

{% block main %}
<img src="{% static "home/studio_small.jpg" %}">

<h2>Releases</h2>
	{% list_releases %}
<h2>Media</h2>
<div id="media-tunes">
	{% if media_tunes %}
		{% djwidget_playlist "media" %}
	{% endif %}
</div>
{% endblock %}
