{% extends "base.html" %}
{% load staticfiles  %}
{% load djplayer_extras %}
{% load discography_extras %}
{% block link %}
	{{ block.super }}
	{% djwidget_link_css %}
{% endblock %}
{% block script %}
	{{ block.super }}
	{% djwidget_js_base %}
	{% djwidget_js_playlist media_tunes "media" %}
{% endblock %}

{% block nav-studio %}<strong class="nav-active">Studio</strong>{% endblock %}

{% block main %}
<h2>Studio</h2>
<div class="content">
	<img width="600" height="361" alt="Earth Vibration Studio" src="{% static "home/studio_small.jpg" %}">
</div>

<div class="content">
<h3>Releases</h3>
	{% list_releases %}
</div>
<div class="content" id="media-tunes">
<h3>Media</h3>
	{% if media_tunes %}
		{% djwidget_playlist "media" %}
	{% endif %}
</div>
{% endblock %}
