Django==1.7.7
#pgresql
psycopg2
## needed for ImageField
Pillow==2.7.0
## spam filter
akismet==0.2.0

argparse==1.2.1
distribute==0.7.3

## comments
django-crispy-forms==1.4.0
django-fluent-comments==1.0b1

## tagging support
django-taggit==0.12.3

sorl-thumbnail==12.2
