Django==1.5.4
psycopg2
## needed for ImageField
Pillow
## spam filter
akismet==0.2.0

argparse==1.2.1
distribute==0.7.3

## comments
django-crispy-forms==1.4.0
django-fluent-comments==0.9.2

## tagging support
django-taggit==0.10

sorl-thumbnail
