{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Earth Vibration - {% block title %}Sound System and Studio {% endblock %}</title>           
	<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
	{% block link %}{% endblock %}
	{% block script %}{% endblock %}
	<meta name="description" content="{% block meta-description %}{% endblock %}">
	<meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
</head>
<body>
<div id="header">
	<h1>Earth Vibration</h1>
</div>
<div id="nav">
{% block nav %}
<ul>
		<li>{% block nav-blog %}<a href="{% url "entry_archive_index" %}">Blog</a>{% endblock %}</li>
		<li>{% block nav-home %}<a href="{% url "home" %}">Home</a>{% endblock %}</li>
		<li>{% block nav-soundsystem %}<a href="{% url "soundsystem" %}">Sound System</a>{% endblock %}</li>
		<li>{% block nav-studio %}<a href="{% url "studio" %}">Studio</a>{% endblock %}</li>
		<li>{% block nav-events %}<a href="{% url "events:index" %}">Events</a>{% endblock %}</li>
		<li>{% block nav-contact %}<a href="{% url "contact" %}">Contact</a>{% endblock %}</li>
	</ul>
{% endblock %}
</div>
<div id="content">
	{% block main %}
	<p>My Content</p>    
	{% endblock %}
</div>
<div id="footer">
	Footer content
</div>
</body>
</html>
