import getpass

SECRET_KEY = '=b$*(#sb+-_2-6m1k9*2l)867cad1x)y3159vr5h)#wgb%8b2w'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'earthvibration',
        'USER': getpass.getuser(),
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}
