body {
  background: #acc;
  color: #000;
  font-size: 81.3%;
}
dl.label-list dt, dl.label-list dd {
	display: inline;
	margin: 0;
}
dl.label-list dt {
	font-weight: bold;
}
dl.label-list dd:after {
	content: '\A';
	white-space: pre;
}
dl.label-list dt:after{
	content: ': '
}
nav, main {
	float: left;
	margin: 10px;
	display:inline-block;
}
footer {
	clear: both;
	text-align: center;
}
#wrapper {
	margin: 0 auto;
	width: 960px;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
.nav-active {
	text-decoration: underline;
}
.tags a {
	font-size: 0.8em;
}
.tags li {
	display: inline;
	margin: 0.3em;
}
ul.tags {
    list-style:none;
    padding-left: 0;
}

.blog-detail form input,
.blog-detail form textarea {
	background: transparent;
	border: 1px solid #899;
}
.blog-detail label {
	width: 150px;
	display: inline-block;
}

.blog-entry {
	margin: 10px;
}
.blog-entry .attachment {
}
.blog-entry, .blog-entry .attachment, dl#comments,
#media-tunes .tune {
	border: 1px solid #abb;
	padding: 10px;
}
dl#comments {
	border: 1px solid #899;
}

.clearboth { clear: both; }

/* @begin gallery */
.gallery .img-wrapper {
	line-height: 150px;
	float: left;
	padding: 5px;
	width: 150px;
	height: 150px;
	text-align: center;
}
.gallery .img-wrapper img {
	vertical-align: middle;
}
/* @end gallery */
